securesystemslib[crypto,pynacl]
six
iso8601
requests
pylint
bandit
# Pin to versions supported by `coveralls` (see .travis.yml)
# https://github.com/coveralls-clients/coveralls-python/releases/tag/1.8.1
coverage<5.0
mock; python_version < "3.3"
