# Install requirements needed in each tox environment

# pinned tuf runtime dependencies (should auto-update and -trigger ci/cd)
-r requirements-pinned.txt

# test runtime dependencies
-r requirements-test.txt

# additional test tools for linting and coverage measurement
coverage
pylint
bandit
