certifi==2019.11.28       # via requests
cffi==1.14.0              # via cryptography, pynacl
chardet==3.0.4            # via requests
colorama==0.4.3           # via securesystemslib
cryptography==2.8         # via securesystemslib
enum34==1.1.6             ; python_version < '3' # via cryptography
idna==2.9                 # via requests
ipaddress==1.0.23         ; python_version < '3' # via cryptography
iso8601==0.1.12
pycparser==2.19           # via cffi
pynacl==1.3.0             # via securesystemslib
python-dateutil==2.8.1    # via securesystemslib
requests==2.23.0
securesystemslib[colors,crypto,pynacl]==0.14.0
six==1.14.0
subprocess32==3.5.4       ; python_version < '3' # via securesystemslib
urllib3==1.25.8           # via requests
