certifi==2020.12.5        # via requests
cffi==1.14.5              # via cryptography, pynacl
chardet==4.0.0            # via requests
cryptography==3.4.7       # via securesystemslib
idna==2.10                # via requests
pycparser==2.20           # via cffi
pynacl==1.4.0             # via securesystemslib
requests==2.25.1
securesystemslib[crypto,pynacl]==0.20.0
six==1.15.0
urllib3==1.26.4           # via requests
