# Install requirements needed in each tox environment

# pinned tuf runtime dependencies (should auto-update and -trigger ci/cd)
-r requirements-pinned.txt

# tuf.api tests use python-dateutil
python-dateutil

# additional test tools for linting and coverage measurement
coverage
black
isort
pylint
bandit
