[run]
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __str__
    if __name__ == .__main__.:

omit =
    # Command-line scripts.
    */tuf/scripts/client.py
    */tuf/scripts/repo.py
