Source: python-tuf
Maintainer: tuf developers <theupdateframework@googlegroups.com>
Uploaders: Lukas Puehringer <lukas.puehringer@nyu.edu>,
           Justin Cappos <jcappos@nyu.edu>
Section: devel
Priority: optional
Build-Depends: dh-python,
               debhelper-compat (= 12),
               python3-all,
               python3-setuptools,
               python3-six,
               python3-iso8601,
               python3-requests,
               python3-securesystemslib
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/theupdateframework/tuf
Vcs-Git: https://github.com/theupdateframework/tuf.git
Homepage: https://theupdateframework.com

Package: python3-tuf
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends}
Description: plug-and-play library for securing a software updater
 The Update Framework (TUF) helps developers to maintain the security of a
 software update system, even against attackers that compromise the repository
 or signing keys.
 .
 tuf is developed at the Secure Systems Lab of NYU.
