Source: python-tuf
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Philippe Coval <rzr@users.sf.net>
Section: python
Priority: optional
Build-Depends: dh-python,
               black,
               debhelper-compat (= 13),
               python3-all,
               python3-astroid,
               python3-bandit,
               python3-certifi,
               python3-cffi,
               python3-chardet,
               python3-coverage,
               python3-cryptography,
               python3-dateutil,
               python3-idna,
               python3-nacl,
               python3-pycparser,
               python3-requests,
               python3-securesystemslib,
               python3-setuptools,
               python3-six,
               python3-urllib3,
               tox
Standards-Version: 4.5.1
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-tuf/-/tree/debian/master
Vcs-Git: https://salsa.debian.org/python-team/packages/python-tuf.git
Homepage: https://theupdateframework.com
Testsuite: autopkgtest-pkg-python

Package: python3-tuf
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends}
Description: plug-and-play library for securing a software updater
 The Update Framework (TUF) helps developers to maintain the security of a
 software update system, even against attackers that compromise the repository
 or signing keys.
 .
 tuf is developed at the Secure Systems Lab of NYU.
