#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME = tuf
export PYBUILD_DISABLE_python3 = test

%:
	dh $@ --with python3  --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -rfv debian/*/usr/bin/*.py
